[Desktop Entry]
Version=1.0
Type=Application
Name=IDEA Community Edition
Icon=/opt/IDEA-CE/bin/idea.svg
Exec=/usr/share/dev-scripts/start_idea_with_repo.sh %f
Comment=IntelliJ IDEA IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=IDEA_CE
StartupNotify=true
