[Desktop Entry]
Version=1.0
Type=Application
Name=GoLand
Icon=/opt/GoLand/bin/goland.svg
Exec=/usr/share/dev-scripts/start_goland_with_repo.sh %f
Comment=Capable and Ergonomic Go IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=GoLand
StartupNotify=true
