[Desktop Entry]
Version=1.0
Type=Application
Name=GoLand
Icon=/opt/goland/bin/goland.svg
Exec="/opt/goland/bin/goland.sh" %f
Comment=Capable and Ergonomic Go IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=GoLand
StartupNotify=true
