[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Icon=/opt/PyCharm-CE/bin/pycharm.svg
Exec=/usr/share/dev-scripts/start_PyCharm_with_repo.sh %f
Comment=Python IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=PyCharm_CE
StartupNotify=true
