name: 'Trigger: PR with source change'

on:
  pull_request:
    branches:
    - main
    paths:
    - 'complete-setups/**'
    - 'IDEs/**'
    - 'languages/**'

jobs:

  build_changed_dev:
    uses: itopia-inc/spaces-images/.github/workflows/build_and_publish_changed_images.yaml@main
    with:
      environment: "dev"
