name: 'Trigger: Source change'

on:
  push:
    branches:
    - main
    paths:
    - 'complete-setups/**'
    - 'IDEs/**'
    - 'runtimes/**'

jobs:

  build_changed_dev:
    uses: itopia-inc/spaces-images/.github/workflows/build_and_publish_changed_images.yaml@main
    with:
      environment: "dev"

  build_changed_prod:
    uses: itopia-inc/spaces-images/.github/workflows/build_and_publish_changed_images.yaml@main
    with:
      environment: "prod"
